<!DOCTYPE html>
<html>

<head>
    <title>MIT3 Aufgabe vom 28.10.2015</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
	<div id="header">
		<h1> {{myName}} </h1>
		<div id="containerOne"> {{containerOne}} </div> 
	</div>
	<div id="main">
		<h2> About </h2> 							
		<p> BlalablubberblubblobliblablabaBlalablubberblubblobliblablabaBlalablubberblubblobliblablaba </p>
		<h3> Avatar </h3>
		<img src="images/avatar.png" alt="Hier sollte der Avater erscheinen."/>
	</div>
	<div id="nav">
		<h2> Navigation </h2>
	    <a href="/"> Startseite <br> </a> 
		<a href="/projects"> Projekte <br> </a> 
		<a href="/impressum"> Impressum </a> 
	</div>
</body>

</html>