<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<div id="main"> 
		<h2> Projekte </h2>
		<div id="submain"> 
			<h3> Projektum Maximum </h3>
			<p> Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt.
				Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt. </p>
			<h3> Projektum Minum </h3>
			<p> Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt.
				Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt. </p> 
			<h3> Ultimativum Projektum </h3>
			<p> Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt.
				Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt. </p> 
			<h3> Utilitarum Projektum Maximum </h3>
			<p> Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt.
				Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt. </p> 
			<h3> Geblubber Projekt</h3>
			<p> Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt.
				Beschreibung für das Projekt. Beschreibung für das Projekt. Beschreibung für das Projekt. </p> 
	</div>
	<div id="nav">
		<h2> Navigation </h2>
	    <a href="/"> Startseite <br> </a> 
		<a href="/projects"> Projekte <br> </a> 
		<a href="morepage_HTML_Impressum.html"> Impressum </a> 
	</div>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    {{{body}}}
</body>

</html>